@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;1,100&family=Gabarito&family=Lato:ital,wght@0,100;0,300;1,300&family=Roboto:wght@300&family=Sulphur+Point&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Gabarito', sans-serif;
}

 /*for Desktops*/
 

    .changePasswordFormCont  {
        background: url(../assets/images/landingblur.png);
        background-size: cover;
        height: 100vh;
        background-repeat: no-repeat;
    }
    
.changePasswordFormCont form  {
  
     position: relative;
     top: 115px;
     left: 30%;
     height: 400px;
     width: 40%;
     border-radius: 25px;
     border: none;
     background-color: #003249;
     border: 1px solid black;
 }

 .changePasswordFormCont .use_name,.accID,.newpass,.conpass {
     display: flex;
     position: relative;
     left: 37%;
     top: 30px;
     border-radius: 25px;
     height: 25px;
     width: 25%;
     margin-top: 10px;
    
    
 }

 .changePasswordFormCont label {
     position: relative;
     top: 30px;
     left: 39%; 
     color: #F3F9FB;
 }
 .changePasswordFormCont .btn {
     border: none;
     position: relative;
     top: 40px;
     left: 36%;
     border-radius: 25px;
     width: 30%;
    height: 35px;
    color: #003249;
     text-shadow: 1px 1px 7px #ffffff;
     background-color: #F3F9FB;
 }

 .changePasswordFormCont ::placeholder {
     text-align: center;
 }
 .changePasswordFormCont input {
     text-align: center;
 }

   /* Extra small devices (phones, 600px and down) */
   @media only screen and (max-width: 600px) {
    .changePasswordFormCont form  { 
        position: relative;
        top: 30%;
        left: 10%;
        width: 70%;
    }
   }
    