

    /*ACCOUNTS PAGE RELATED*/
    .LoginFormContainer, .AdminLoginContainer, .bookCreateFormCont{
        
        display: flex;
        background: url(../assets/images/BG\ background\ darken.jpg);
        background-color: rg.a(0, 0, 0, 0.5);
        background-size: cover;
        justify-content: center;
        align-items: center;
        height: 80vh;
        width: 100vw;
        position: fixed;
        top: 10vh;
     
    }
    

    .AdminLoginContainer h2,  .LoginFormContainer h2 {
        font-family: 'Gabarito', sans-serif;
        color:  #003249;
        position: relative;
        top: 30px;
        text-align: center;
    }
   
    .AdminLoginContainer .user,  .LoginFormContainer .user {
        position: relative;
        top: 35px;
        width: 400px;
        height: 40px;
        margin-left: 38px;
        border-radius: 25px;
    }
    .AdminLoginContainer .name,  .LoginFormContainer .name {
        position: relative;
        top: 25px;
        left: 40px;
    }

    .AdminLoginContainer .pass,  .LoginFormContainer .pass {
        position: relative;
        top: 60px;
        width: 400px;
        height: 40px;
        margin-left: 38px;
        border-radius: 25px;
        

    }

    .AdminLoginContainer .word,  .LoginFormContainer .word {
        position: relative;
        top: 50px;
        left: 40px;
    }
    
    .AdminLoginContainer .btn,  .LoginFormContainer .btn {
        color: #ffffff;
        text-shadow: 1px 1px 7px #ffffff;
        font-family: 'Gabarito', sans-serif;
        background-color: #003249;
        border-radius: 20px;
        border: none;
        position: relative;
        top: 80px;
        left: 120px;
        width: 50%;
         height: 40px;
    }

    .LoginFormContainer .change {
        position: relative;
        top: 130px;
        right: 65px;
    }

    .AdminLoginContainer input, .LoginFormContainer input {
        font-family: 'Gabarito', sans-serif;
        text-align: center;
    }

    .AdminLoginContainer ::placeholder, .LoginFormContainer ::placeholder {
        text-align: center;
    }
    .LoginFormContainer form, .AdminLoginContainer form{
        border-radius: 25px;
        height: 65%;
        width: 35%;
        border: 2px solid black;
        background-color: white;
        border: none;
    }

    .AdminLoginContainer .reg{
        position: relative;
        top: 130px;
        right: 30px;
    }

    /*ADMIN PAGE RELATED*/
    .AccTableContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40vh;
        width: 100vw;
        position: fixed;
        top: 10vh;
        left: 0;
        z-index: 0;
     
        border: 1px solid black;
    }

    .AccTableContainer table{
        width: 70%;
    }

    .RegFormContainer{
        background: url(../assets/images/logoorigtintwhite.png);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
        width: 50%;
        position: fixed;
        top: 50vh;
        left: 0;
        z-index: 0;
 
    }
     .AccTableContainer .RegFormContainer form{
        background: url(../assets/images/logoorigtintwhite.png);
        height: 95%;
        width: 60%;
        border-radius: 25px;
        background-color: white;
    }

    .RegFormContainer h2 {
        color: #4267B2;
        font-family: 'Gabarito', sans-serif;
        text-align: center;
        margin-top: 10px;
    }



   .RegFormContainer .US,   .RegFormContainer .ID{
 
    position: relative;
    left: 109px;
    margin-top: 25px;
    border-radius: 25px;
    height: 20px;
    bottom: 10px;
    width: 180px;
    font-size: 15px;
  
   }
   

   .RegFormContainer .tp,   .RegFormContainer .type{
   
    position: relative;
    left: 110px;
    margin-top: 8px;
    border-radius: 25px;
    height: 20px;
    bottom: 10px;
    font-size: 15px;
   }
   .RegFormContainer .NM,   .RegFormContainer .use{

    position: relative;
    left: 110px;
    margin-top: 8px;
    border-radius: 25px;
    height: 20px;
    bottom: 10px;
    width: 160px;
    font-size: 15px;
   }

   .RegFormContainer .Ps,   .RegFormContainer .pas{

    position: relative;
    left: 110px;
    margin-top: 8px;
    border-radius: 25px;
    height: 20px;
    bottom: 10px;
    width: 150px;
    font-size: 15px;
   }

   .RegFormContainer .CN,   .RegFormContainer .con{

    position: relative;
    left: 110px;
    margin-top: 8px;
    border-radius: 25px;
    height: 20px;
    bottom: 10px;
    width: 150px;
    font-size: 15px;
   }

   .RegFormContainer .FL,  .RegFormContainer .fl{
    
   
    position: relative;
    left: 110px;
    margin-top: 8px;
    border-radius: 25px;
    height: 20px;
    bottom: 10px;
    width: 150px;
    font-size: 15px;
   }

   .RegFormContainer .btn {
    position: relative;
    top: 15px;
    margin-left: 150px;
    margin-top: 10px;
    color: #003249;
    font-family: 'Gabarito', sans-serif;
    background-color:  #F3F9FB;
    border-radius: 25px;
    width: 30%;
     height: 30px;
     width: 100px;
     font-size: 15px;
     left: 40px;
     border: none;
     transition: .4s;
}
.RegFormContainer .btn:hover {
    background-color: #007EA7;
    color: #F3F9FB;
}


.RegFormContainer .strand {
    position: relative;
    right: 145px;
    bottom: 23px;
    font-size: 15px;
}
.RegFormContainer .selectstrand {
    position: relative;
    
    right: 145px;
    height: 20px;
    width: 60px;
    bottom: 20px;
}



.RegFormContainer ::placeholder {
    text-align: center;
}
.RegFormContainer input {
    text-align: center;
}




.RegFormContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 50%;
    position: fixed;
    top: 50vh;
    left: 0;
    z-index: 0;
    background: url(../assets/images/logoorigtintwhite.png);
     
 
}
.RegFormContainer form{
    height: 95%;
    width: 70%;
     
    border-radius: 25px;
    background-color: #003249;
    color: #F3F9FB;
}

.RegFormContainer h2 {
    color:  #F3F9FB;
    font-family: 'Gabarito', sans-serif;
    text-align: center;
    margin-top: 10px;
}



.AdminFormContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 50%;
    position: fixed;
    top: 50vh;
    left: 0;
    z-index: 1;
   
    background: url(../assets/images/logoorigtintwhite.png);
   
    
}
.AdminFormContainer form{
    height: 90%;
    width: 60%;
    border: 1px solid black;
    border-radius: 25px;
    background-color: #003249;
    background-repeat: repeat;
  
}

.AdminFormContainer h2 {
    color: #4267B2;
    font-family: 'Gabarito', sans-serif;
    text-align: center;
    margin-top: 16px;
    color: #F3F9FB;
}


.AdminFormContainer .US,.AdminFormContainer .ID{
display: inline-block;
position: relative;
left: 90px;
margin-top: 25px;
border-radius: 25px;
height: 24px;
color: #F3F9FB;
}

.AdminFormContainer .NM,.AdminFormContainer .use{
display: inline-block;
position: relative;
left: 90px;
margin-top: 8px;
border-radius: 25px;
height: 24px;
color: #F3F9FB;
}

.AdminFormContainer .Ps,.AdminFormContainer .pas{
display: inline-block;
position: relative;
left: 90px;
margin-top: 8px;
border-radius: 25px;
height: 24px;
color: #F3F9FB;
}

.AdminFormContainer .CN,.AdminFormContainer .con{
display: inline-block;
position: relative;
left: 90px;
margin-top: 8px;
border-radius: 25px;
height: 24px;
color: #F3F9FB;
}

.AdminFormContainer .FL, .AdminFormContainer .fl{

display: inline-block;
position: relative;
left: 90px;
margin-top: 8px;
border-radius: 25px;
height: 24px;
color: #F3F9FB;
}

.AdminFormContainer  .btn {
margin-left: 150px;
margin-top: 10px;
color: #003249;
font-family: 'Gabarito', sans-serif;
background-color:  #F3F9FB;
border-radius: 25px;
width: 30%;
 height: 35px;
 border: none;
 transition: .4s;
 }

.AdminFormContainer .btn:hover {
    background-color: #4267B2;
    color: #F3F9FB;
}




    .DeleteAccFormContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
        width: 60vw;
        position: fixed;
        top: 50vh;
        left: 50vw;
        background: url(../assets/images/logoorigtintwhite.png);
        background-color: white;
        background-repeat: repeat;
        
    }
    

    .DeleteAccFormContainer h2{
        font-family: 'Gabarito', sans-serif;
        color:  #F3F9FB;
        margin-top: 20px;
       text-align: center;
       margin-bottom: 10px;
    }
   
  
    
    .DeleteAccFormContainer form{
        margin-right: 150px;
        height: 90%;
        width: 50%;
        border-radius: 25px;
        background-color: #003249;
        
    }

    .DeleteAccFormContainer .id ,.ln{
       justify-content: right;
        width: 250px;
        height: 30px;
        margin-left: 100px;
        border-radius: 25px;
        margin-top: 20px;
        color:  #F3F9FB;
    }
    .DeleteAccFormContainer .enter,.FN,.LN {
        font-family: 'Gabarito', sans-serif;
        position: relative;
        top: 10px;
        margin-left: 100px;
        color:  #F3F9FB;
       
    }
    .DeleteAccFormContainer .btn {
        margin-left: 150px;
        margin-top: 25px;
        color: white;
        font-family: 'Gabarito', sans-serif;
        background-color: #F3F9FB;
        border-radius: 25px;
        width: 30%;
         height: 35px;
         color:  #003249;
         border: none;
         transition: .4s;
    }

    .DeleteAccFormContainer .btn:hover {
        background-color: #4267B2;
        color: #F3F9FB;
    }
    
    

    .DeleteAccFormContainer ::placeholder {
        text-align: center;
    }
    .DeleteAccFormContainer input {
        text-align: center;
    }
    
    .changePasswordFormCont  {
        background: url(../assets/images/landingblur.png);
        background-size: cover;
        height: 100vh;
        background-repeat: no-repeat;
    }

    .changePasswordFormCont form  {
       background-color: white;
        position: relative;
        top: 115px;
        left: 405px;
        height: 400px;
        width: 40%;
        border: 1px solid black;
        border-radius: 25px;
        border: none;
    }

    .changePasswordFormCont .use_name,.accID,.newpass,.conpass {
        display: flex;
        margin-top: 10px;
        position: relative;
        left: 205px;
        top: 30px;
        border-radius: 25px;
        height: 25px;
    }

    .changePasswordFormCont label {
        position: relative;
        top: 30px;
        left: 205px;
    }
    .changePasswordFormCont .btn {
        border: none;
        position: relative;
        top: 40px;
        left: 200px;
        color: #ffffff;
        text-shadow: 1px 1px 7px #ffffff;
        font-family: 'Gabarito', sans-serif;
        background-color: #003249;
        border-radius: 25px;
        width: 30%;
         height: 35px;
    }

    .changePasswordFormCont ::placeholder {
        text-align: center;
    }
    .changePasswordFormCont input {
        text-align: center;
    }
    

    /*TEACHERS MENU RELATED*/
    .sideBar{
        display: flex;
        justify-content: center;
        background-color: #9AD1D4;
        height: 100vh;
        width: 20vw;
        position: fixed;
        top: 10vh;
        left: 0;
        z-index: 1;
       
        overflow-y: auto;
        overflow-x: hidden;
       
    }

   

     .buttonscontainer{
        background-color: #9AD1D4;
        align-items: center;
        display: flex;
        position: fixed;
        right: 0;
        flex-direction: column;
        height: 100vh;
        width: 20vw;
     
     }

     .buttonscontainer #addRecord,#addColumn,#removeColumn,#deleteColumn, #create{
        font-size: medium;
        font-family: 'Gabarito', sans-serif;
        margin-top: 40px;
        position: relative;
        color:#F3F9FB;
        background-color: #003249;
        top: 35px;
        left: 6px;
        transition: .4s;
        height: 40px;
        width: 180px;
        border-radius: 10px;
        border:none ;
        
    
     }
     .buttonscontainer  #addRecord:hover,#addColumn:hover,#removeColumn:hover,#deleteColumn:hover,#create:hover{
       background-color: #007EA7;
    }
     }

     

    
    

   

    .sideBar .grade {
        R+
        display: flex;
        position: relative;
        right: 2px;
        border: none;
        font-family: 'Gabarito', sans-serif;
        font-size: medium;
        color: #F3F9FB;
        background-color: #003249;
        transition: .4s;
        margin-top: 10px;
        height: 50px;
        width: 275px;
        justify-content: center;
        text-align: center;
        padding: 15px;
        font-size: 20px;
        font-weight: 40px;
        
     }

    


    .sideBar .grade:hover {
        background-color: #226597;
    }
    

    


    .dashContainer{
        
         background: url(../assets/images/logoorigtintwhite.png);
        display: flex;
        justify-content: center;
        height: 90vh;
        width: 59.3vw;
        position: fixed;
        top: 10vh;
        left: 20vw;
        z-index: 0;
        overflow-y: auto;
        
    }

    .dashContainer .rm{
        position: relative;
        left: 5px;
       background-color: #F3F9FB;
       border: none;
        font-size: 10px;
        transition: .4s;
    }

    .dashContainer .rm:hover{
        background-color: #003249;
        color: #F3F9FB;
    }


    .dashContainer #gradeBookTableCont{
        padding: 10px;
        position: relative;
        top: 10px;
    
    }

    .dashContainer #gradeBookTableCont table{
        border: 2px solid #003249;
        border-color:#003249;
        background-color: #F3F9FB;
        color: #06415c;
        margin-top: 10px;
        border-collapse: collapse;
        border: none;
        border-bottom:2px solid  #003249;
        border-left: 2px solid #003249;
  
   
        
    }

    .dashContainer #gradeBookTableCont table th{
        border-bottom:3px solid #06415c ;
        margin-bottom: 100px;
        font-size: 14px;
      
    }

    .dashContainer #gradeBookTableCont table td{
         text-align: center;
         font-size: 12px;
    }
    
    #gradeBookTableCont .subjtitle {
        position: relative;
        left: 30px;
        margin-bottom: 10px;
    }

    /*GRADEBOOK CREATION MENU RELATED*/
    .popUpCreate{    /*Eto yung nagpa popup kapag nipi-pindot ang CREATE GRADEBOOK*/
        height: 200px;
        width: 40%;
        position: relative;
        top: 243px;
        left: 400px;
        z-index: 1;
        background-color: #9AD1D4;
        border-radius: 10px;
     
       
    }

    .popUpCreate .subject,.selectsubj {
        font-family: 'Gabarito', sans-serif;
        position: relative;
        left: 30px;
        top: 30px;

        
    }

    .popUpCreate .grade,.bookname {
        font-family: 'Gabarito', sans-serif;
        position: relative;
        left: 30px;
        top: 30px;
        margin-bottom: 10px;

        
    }

    .popUpCreate #createGB {
        font-family: 'Gabarito', sans-serif;
        position: relative;
        left: 165px;
        top: 45px;
        margin-bottom: 10px;
        width: 50%;
        height: 40px;
        border-radius: 20px;
        background-color: #003249;
        color: #F3F9FB;
        font-size: medium;
        border: none;

        
    }
    .popUpCreate #closeBtn {
        font-family: 'Gabarito', sans-serif;
        position: relative;
        left: 225px;
        bottom: 60px;
        margin-bottom: 10px;
        background-color: #FF0000;
        color: #ffffff;
        width: 50px;
        border: none;
        border-radius: 5px;

   
    }

    .popUpAddColumn, .popUpRemoveColumn{
        height: 30vh;
        width: 30vw;
        position: fixed;
        bottom: 10vh;
        right: 0vw;
        z-index: 1;
        margin-right: 470px;
        margin-bottom: 150px;
        background-color:#9AD1D4;
        border-radius: 10px;
       
     
    }

    .popUpAddColumn .entergrade{
        position: relative;
 
        left: 30px;
        top: 50px;
    }
    .popUpAddColumn .entermax {
        position: relative;
   
        left: 30px;
        top: 60px;
    }

    .popUpAddColumn .confirm {
        position: relative;
        left: 125px;
        top: 90px;
        width: 50%;
        height: 40px;
        border-radius: 20px;
        background-color: #003249;
        color: #F3F9FB;
        font-size: medium;
        border: none;
    }

    .popUpAddColumn #XBtn4AddColumn {
        position: relative;
        left: 170px;
        bottom: 37px;
        background-color: #FF0000;
        color: #ffffff;
        width: 50px;
        border: none;
        border-radius: 5px;

    }
.popUpRemoveColumn .deletecolumn{
   
    position: relative;
    left: 100px;
    top: 50px;
}



.popUpRemoveColumn form select {
    min-width: 100px;
}


.popUpRemoveColumn .confirm {
    position: relative;
    left: 130px;
    top: 85px;
    width: 160px;
    height: 40px;
    border-radius: 20px;
    background-color: #003249;
    color: #F3F9FB;
    font-size: medium;
    border: none;
}

.popUpRemoveColumn #XBtn4RemoveColumn {
    position: relative;
        left: 180px;
        bottom: 15px;
        background-color: #FF0000;
        color: #ffffff;
        width: 50px;
        border: none;
        border-radius: 5px;
}


    .popUpAddRecord{
        height: 30vh;
        width: 30vw;
        position: fixed;
        bottom: 10vh;
        right: 0vw;
        z-index: 1;
        border: 1px solid black;
        margin-right: 480px;
        margin-bottom: 150px;
        background-color:  #9AD1D4;
        border-radius: 10px;  
        border: none;
    }
    .popUpAddRecord .studID, .selectstud{
        position: relative;
        top: 55px;
        left: 50px;
        
    }
   


    .popUpAddRecord .addrec{
        position: relative;
        left: 130px;
        top: 90px;
        width: 50%;
        height: 40px;
        border-radius: 20px;
        background-color: #003249;
        color: #F3F9FB;
        font-size: medium;
        border: none;
    }
    .popUpAddRecord #XBtn4AddRecord {
        position: relative;
        left: 190px;
        bottom: 20px;
        font-family: 'Gabarito', sans-serif;
        background-color: #FF0000;
        color: #ffffff;
        width: 50px;
        border: none;
        border-radius: 5px;
    }



    /*EDIT RECORD PAGE RELATED*/
    .RecordEditFormContainer{
        background: url(../assets/images/logoorigtintwhite.png);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;
        width: 100vw;
        position: fixed;
        top: 30vh;
        z-index: 0;
        border: 1px solid black;
        overflow-x: scroll;
    }

   
    .RecordEditFormContainer form {
       background-color:  white;
        position: relative;
        height: 150px;
        width: 20%;
        border-radius: 25px;
        border: 1px solid black;
        margin-left: 10px;
       
    }

    .RecordEditFormContainer .parameter {
       
        position: relative;
        top: 20px;
        margin-left: 65px;
        
    }

    .RecordEditFormContainer .inputval {
        margin-left: 20px;
        margin-top: 40px;
    }

    .RecordEditFormContainer .cn {
        margin-left: 50px;
    
    }


    .individualGradesCont{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20vh;
        width: 100vw;
        position: fixed;
        top: 10vh;
        z-index: 0;
        overflow-x: scroll;
        border: 1px solid black;
    }

    .individualGradesCont table{
        width: 70%;
    }

    .reportCardsContainer{
        background-image: url(../assets/images/logoorigtintwhite.png);
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 10vh;
        z-index: 0;
        
      
        
    }

   
    .reportCardsContainer .reportCardTableCont table{
        position: relative;
        bottom: 20px;
        border: 2px solid #003249;
        border-color:#003249;
        background-color: #F3F9FB;
        color: #06415c;
        margin-top: 10px;
        overflow-y: auto;
        border-collapse: collapse;
        border: none;
        border-left: 2px solid #003249;
        width: 50vw;
        height: 18vw;

   
        
        
    }

    .reportCardsContainer .reportCardTableCont table td{
   
        font-size: 12px;
       
       
        
    }

    .reportCardsContainer .reportCardTableCont table th{
        border-bottom:3px solid #06415c ;
        margin-bottom: 100px;
        font-size: 14px;
    
       
        
    }

    
    .reportCardsContainer .view {
       position: fixed;
       left: 0;
       top: 0;
       margin-top: 100px;
       margin-left: 40px;
       
    }
    .reportCardsContainer .gradeselect {
        height: 40px;
        width: 80px;
    }

    .reportCardsContainer .viewbtn {
        height: 40px;
        width: 80px;
    }


    .AccTableContainer  table {
        border: 2px solid #003249;
        border-color:#003249;
        background-color: #F3F9FB;
        color: #06415c;
        margin-top: 10px;
        overflow-y: auto;
        border-collapse: collapse;
        border: none;
        border-bottom:2px solid  #003249;
        border-left: 2px solid #003249;
   
    }

    .AccTableContainer table td{
        font-size: 13px;
        border-bottom: 1px solid black;
       
    }

    .AccTableContainer  table th{
        border-bottom:3px solid #06415c ;
        margin-bottom: 100px;
        font-size: 14px;
    
       
        
    }



   




@media screen and (min-width:1920px){ /*for pc ni acebo*/

}

@media screen and (max-width:767px){ /*for smartphones*/

}

